<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.offcn.mapper.GradeMapper">
    <resultMap id="BaseResultMap" type="com.offcn.pojo.Grade">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="sid" jdbcType="INTEGER" property="sid"/>
        <result column="cid" jdbcType="INTEGER" property="cid"/>
        <result column="tid" jdbcType="INTEGER" property="tid"/>
        <result column="pgrade" jdbcType="DOUBLE" property="pgrade"/>
        <result column="kgrade" jdbcType="DOUBLE" property="kgrade"/>
        <result column="zgrade" jdbcType="DOUBLE" property="zgrade"/>
    </resultMap>

    <insert id="insertGrade" parameterType="grade">
     insert into grade (sid, cid, 
      tid, pgrade, kgrade, 
      zgrade)
    values (#{sid,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, 
      #{tid,jdbcType=INTEGER}, #{pgrade,jdbcType=DOUBLE}, #{kgrade,jdbcType=DOUBLE}, 
      #{zgrade,jdbcType=DOUBLE})
  </insert>

    <select id="getGradeInfo" parameterType="int" resultType="GradeExt">
     select c.`name` as courseName,t.`name` as teacherName,g.`pgrade`,g.`kgrade`,g.`zgrade` from grade g
        left join course c on g.`cid`=c.`id`
        left join teacher t on g.`tid`=t.`id`
        left join student s on g.`sid`=s.`id`
        where s.`id`=#{studentId}
  </select>


    <select id="getGradeInfoTeacher" parameterType="int" resultType="GradeExt">
     select s.`name` as studentName,g.* from grade g
        left join course c on g.`cid`=c.`id`
        left join teacher t on g.`tid`=t.`id`
        left join student s on g.`sid`=s.`id`
        where g.`tid`=#{teacherId}
  </select>


    <delete id="delete">
        delete from grade where id=#{id}
    </delete>

    <select id="getGradeId" parameterType="int" resultType="GradeExt">
         select s.`name` as studentName,g.* from grade g
        left join course c on g.`cid`=c.`id`
        left join teacher t on g.`tid`=t.`id`
        left join student s on g.`sid`=s.`id`
        where g.`id`=#{id}
    </select>


    <update id="update" parameterType="Grade">
        update grade
        <set>
            <if test="pgrade != null">
                pgrade = #{pgrade,jdbcType=DOUBLE},
            </if>
            <if test="kgrade != null">
                kgrade = #{kgrade,jdbcType=DOUBLE},
            </if>
            <if test="zgrade != null">
                zgrade = #{zgrade,jdbcType=DOUBLE},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>